#textField {
    -fx-background-image:url('images/starOne.png');
    -fx-background-repeat: no-repeat;
    -fx-background-image-position:left;
    -fx-background-position: right center;
    -fx-padding: 10px;
}